{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block h1 %}
    Change your password
{% endblock %}

{% block main %}
    <p>Currently logged in as: <b>{{username}}</b></p>
    
    <form action="/changepassword" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Old password" type="password">
        <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="password">
        <input class="form-control mx-auto w-auto" id="newconfirmation" name="newconfirmation" placeholder="Confirm New Password" type="password">
        <button type="submit">Change Password</button>
    </form>
{% endblock %}
