{% extends "layout.html" %}

{% block title %}
    Choose New Password
{% endblock %}

{% block h1 %}
    New Password
{% endblock %}

{% block main %}
    <p>Correct! Now you can choose a new password for <b>{{username}}</b></p>
    <form action="/newpassword/{{username}}" method="post">
        <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="password">
        <input class="form-control mx-auto w-auto" id="newconfirmation" name="newconfirmation" placeholder="Confirm New Password" type="password">
        <button type="submit">Change Password</button>
    </form>
{% endblock %}
